* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'outfit';
    src: url('assets/Outfit/Outfit-Regular.woff2') format('woff'),
    url('assets/Outfit/Outfit-Bold.woff2') format('woff2');

}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

:root {
    --White: hsl(0, 0%, 100%);
    --lightGray: hsl(212, 45%, 89%);
    --GrayishBlue: hsl(220, 15%, 55%);
    --DarkBlue: hsl(218, 44%, 22%);
}

body {
    background-color: rgb(216, 220, 224);
}

.container{
    width: 500px;
    max-width: 100%;
    margin: 60px auto;
    background-color: white;
    border-radius: 20px;
}

.img-container {
    max-width: 100%;
    max-width: 100%;
    padding: 1.25em;
    vertical-align: bottom;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.content-container {
    padding: 0.3125em 1.25em 1.50em;
    text-align: center;
    width: 500px;
    max-width: 100%;
    overflow: auto;
}

h1 {
    font-family: 'outfit';
    font-weight: 700;
}

p {
    padding: 1.35em 0 1.35em;
    font-size: 15px;
    font-family: 'outfit';
    font-weight: 400;
    color: var(--GrayishBlue);
}